.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  width: 100%;
  height: 6197px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #84bfcf;
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0px;
  top: calc(50% - 3098.5px);
}
.image-5 {
  width: 300px;
  height: 109.04px;
  position: absolute;
  left: calc(50% - 150px);
  top: 1161px;
}
.image-52 {
  width: 300px;
  height: 109.04px;
  position: absolute;
  margin-left:auto;
  margin-right: auto;
  top: 34px;
}
.academic {
  color: #000000;
  text-align: left;
  font: 500 20px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 478px;
  top: 67px;
}
.research {
  color: #000000;
  text-align: left;
  font: 500 20px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 633px;
  top: 67px;
}
.people {
  color: #000000;
  text-align: left;
  font: 500 20px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 789px;
  top: 67px;
}
.about {
  color: #000000;
  text-align: left;
  font: 500 20px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 915px;
  top: 67px;
}
.contacts {
  color: #000000;
  text-align: left;
  font: 500 20px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 1035px;
  top: 67px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #eeeeee;
  border-radius: 25px;
  width: 250px;
  height: 80px;
  position: absolute;
  left: 1194px;
  top: 53px;
  cursor: pointer;
}
.search {
  color: #7c7c7c;
  text-align: left;
  font: 500 20px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 1220px;
  top: 70px;
  cursor: pointer;
}
.icon-search {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 38.32px;
  position: absolute;
  left: 1203px;
  top: 59px;
  overflow: visible;
}
.frame-10 {
  width: 100%;
  height: 900px;
  position: absolute;
  left: 0px;
  top: 159px;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.frame-9 {
  width: 5760px;
  height: 900px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image-1 {
  width: 1440px;
  height: 900px;
  position: absolute;
  left: 1440px;
  top: 0px;
}
.image-2 {
  width: 1440px;
  height: 900px;
  position: absolute;
  left: 2880px;
  top: 0px;
}
.image-3 {
  width: 1440px;
  height: 900px;
  position: absolute;
  left: 4320px;
  top: 0px;
}
.image-4 {
  width: 1440px;
  height: 900px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-12 {
  width: 7200px;
  height: 900px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-92 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(to left, #ffffff, #ffffff);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.image-10 {
  width: 1440px;
  height: 900px;
  position: absolute;
  left: 5760px;
  top: 0px;
}
.image-8 {
  width: 1440px;
  height: 900px;
  position: absolute;
  left: 1440px;
  top: 0px;
}
.image-7 {
  width: 1440px;
  height: 900px;
  position: absolute;
  left: 2880px;
  top: 0px;
}
.image-9 {
  width: 1440px;
  height: 900px;
  position: absolute;
  left: 4320px;
  top: 0px;
}
.image-102 {
  width: 1440px;
  height: 900px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-3 {
  background: #000000;
  width: 339px;
  height: 112px;
  position: absolute;
  left: 4450px;
  top: 70px;
  backdrop-filter: blur(50px);
}
.convocation {
  color: #ffffff;
  text-align: left;
  font: 700 40px "Poppins-Bold", sans-serif;
  position: absolute;
  left: 4490px;
  top: 96px;
}
.rectangle-4 {
  background: #84bfcf;
  width: 426px;
  height: 87px;
  position: absolute;
  left: 2896px;
  top: 440px;
}
.medical-researches {
  color: #000000;
  text-align: left;
  font: 700 40px "Poppins-Bold", sans-serif;
  position: absolute;
  left: 2906px;
  top: 453px;
}
.rectangle-5 {
  background: #908e8f;
  width: 523px;
  height: 85px;
  position: absolute;
  left: 2271px;
  top: 140px;
}
.final-project-researches {
  color: #000000;
  text-align: left;
  font: 700 40px "Poppins-Bold", sans-serif;
  position: absolute;
  left: 2288px;
  top: 152px;
}
.curo-institute-of-technology-is-an-educational-institution-dedicated-to-fostering-innovation-technological-excellence-and-academic-growth-with-a-commitment-to-providing-cutting-edge-education-in-various-fields-of-technology-curo-institute-stands-as-a-beacon-for-aspiring-professionals-and-learners-through-a-dynamic-curriculum-state-of-the-art-facilities-and-a-faculty-comprising-experts-in-their-respective-fields-the-institute-strives-to-empower-students-with-the-skills-and-knowledge-needed-to-thrive-in-the-rapidly-evolving-world-of-technology-curo-institute-of-technology-not-only-focuses-on-academic-excellence-but-also-encourages-a-holistic-development-approach-shaping-individuals-who-are-not-only-proficient-in-their-technical-expertise-but-also-possess-the-critical-thinking-and-problem-solving-skills-essential-for-success-in-the-ever-changing-technological-landscape {
  color: #000000;
  text-align: justified;
  font: 400 25px "Poppins-Regular", sans-serif;
  position: absolute;
  left: calc(50% - 650px);
  top: 1324px;
  width: 1299px;
  height: 427px;
}
.read-more {
  color: #00415e;
  text-align: justified;
  font: 600 25px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 70px;
  top: 1696px;
}
.explore-our-faculties {
  color: #2464c5;
  text-align: justified;
  font: 600 36px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: calc(50% - 217px);
  top: 1879px;
}
.rectangle-6 {
  border-radius: 50px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 70px;
  top: 1980px;
}
.rectangle-62 {
  border-radius: 50px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 520px;
  top: 1980px;
}
.rectangle-63 {
  border-radius: 50px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 969px;
  top: 1980px;
}
.rectangle-64 {
  border-radius: 50px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 70px;
  top: 2508px;
}
.rectangle-65 {
  border-radius: 50px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 520px;
  top: 2508px;
}
.rectangle-66 {
  border-radius: 50px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 969px;
  top: 2508px;
}
.business-management {
  color: #000000;
  text-align: justified;
  font: 600 26px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 118px;
  top: 2404px;
}
.biomedical-science {
  color: #000000;
  text-align: justified;
  font: 600 26px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 589px;
  top: 2404px;
}
.software-engineering {
  color: #000000;
  text-align: justified;
  font: 600 26px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 1028px;
  top: 2404px;
}
.psychology {
  color: #000000;
  text-align: justified;
  font: 600 26px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 194px;
  top: calc(50% - 166.5px);
}
.quantity-survey {
  color: #000000;
  text-align: justified;
  font: 600 26px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 613px;
  top: 2932px;
}
.mechanical-engineering {
  color: #000000;
  text-align: justified;
  font: 600 26px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 1009px;
  top: 2932px;
}
.component-1 {
  width: 1440px;
  height: 300px;
  position: absolute;
  left: -1px;
  top: 3232px;
  overflow: hidden;
}
.frame-11 {
  display: flex;
  flex-direction: row;
  gap: 33px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: -139px;
  top: 0px;
}
.image-11 {
  flex-shrink: 0;
  width: 346px;
  height: 225px;
  position: relative;
}
.image-12 {
  flex-shrink: 0;
  width: 400px;
  height: 69.94px;
  position: relative;
}
.image-13 {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  position: relative;
}
.image-14 {
  flex-shrink: 0;
  width: 400px;
  height: 228.57px;
  position: relative;
}
.image-15 {
  flex-shrink: 0;
  width: 400px;
  height: 163.04px;
  position: relative;
}
.image-16 {
  flex-shrink: 0;
  width: 360px;
  height: 226px;
  position: relative;
}
.image-17 {
  flex-shrink: 0;
  width: 400px;
  height: 235.29px;
  position: relative;
}
.image-18 {
  flex-shrink: 0;
  width: 400px;
  height: 194.2px;
  position: relative;
}
.image-19 {
  flex-shrink: 0;
  width: 207px;
  height: 224.93px;
  position: relative;
}
.events {
  color: #000000;
  text-align: justified;
  font: 400 40px "Poppins-Regular", sans-serif;
  position: absolute;
  left: 70px;
  top: 3623px;
}
.frame-12 {
  width: 1313px;
  height: 550px;
  position: absolute;
  left: 70px;
  top: 3727px;
}
.frame-13 {
  width: 1313px;
  height: 550px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.rectangle-7 {
  border-radius: 30px;
  width: 493px;
  height: 550px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-72 {
  border-radius: 30px;
  width: 493px;
  height: 550px;
  position: absolute;
  left: 535px;
  top: 0px;
}
.rectangle-73 {
  border-radius: 30px;
  width: 493px;
  height: 550px;
  position: absolute;
  left: 1070px;
  top: 0px;
}
.rectangle-74 {
  border-radius: 30px;
  width: 493px;
  height: 550px;
  position: absolute;
  left: 1605px;
  top: 0px;
}
.annual-walk {
  color: #ffffff;
  text-align: left;
  font: 500 36px "Inter-Medium", sans-serif;
  position: absolute;
  left: 141px;
  top: 121px;
}
._05th-november-2023 {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Inter-Regular", sans-serif;
  position: absolute;
  left: 97px;
  top: 236px;
}
.rectangle-8 {
  background: #3300ff;
  border-radius: 0px 0px 30px 30px;
  width: 79px;
  height: 89px;
  position: absolute;
  left: 36px;
  top: 0px;
}
.read-more2 {
  color: #ffffff;
  text-align: left;
  font: 700 26px "Inter-Bold", sans-serif;
  position: absolute;
  left: 273px;
  top: 470px;
}
.ai-expo {
  color: #ffffff;
  text-align: left;
  font: 500 36px "Inter-Medium", sans-serif;
  position: absolute;
  left: 711px;
  top: calc(50% - 154px);
}
._11-th-december-2023 {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Inter-Regular", sans-serif;
  position: absolute;
  left: 624px;
  top: 236px;
}
.rectangle-82 {
  background: #b20000;
  border-radius: 0px 0px 30px 30px;
  width: 79px;
  height: 89px;
  position: absolute;
  left: 584px;
  top: 0px;
}
.read-more3 {
  color: #ffffff;
  text-align: left;
  font: 700 26px "Inter-Bold", sans-serif;
  position: absolute;
  left: 821px;
  top: 470px;
}
._31st-night {
  color: #ffffff;
  text-align: left;
  font: 500 36px "Inter-Medium", sans-serif;
  position: absolute;
  left: 1230px;
  top: calc(50% - 154px);
}
._31st-december-2023 {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1159px;
  top: 236px;
}
.rectangle-83 {
  background: #de5d00;
  border-radius: 0px 0px 30px 30px;
  width: 79px;
  height: 89px;
  position: absolute;
  left: 1119px;
  top: 0px;
}
.read-more4 {
  color: #ffffff;
  text-align: left;
  font: 700 26px "Inter-Bold", sans-serif;
  position: absolute;
  left: 1356px;
  top: 470px;
}
.graduation-ceremony {
  color: #ffffff;
  text-align: left;
  font: 500 36px "Inter-Medium", sans-serif;
  position: absolute;
  left: 1663px;
  top: calc(50% - 145px);
}
._16th-january-2024 {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1699px;
  top: 236px;
}
.rectangle-84 {
  background: #e3bf00;
  border-radius: 0px 0px 30px 30px;
  width: 79px;
  height: 89px;
  position: absolute;
  left: 1659px;
  top: 0px;
}
.read-more5 {
  color: #ffffff;
  text-align: left;
  font: 700 26px "Inter-Bold", sans-serif;
  position: absolute;
  left: 1896px;
  top: 470px;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.rectangle-9 {
  background: #257cff;
  border-radius: 50px;
  width: 302px;
  height: 86px;
  position: absolute;
  left: 569px;
  top: 4358px;
}
.view-all {
  color: #eeeeee;
  text-align: left;
  font: 700 32px "Poppins-Bold", sans-serif;
  position: absolute;
  left: 647px;
  top: 4381px;
}
.international-partnerships {
  color: #000a66;
  text-align: justified;
  font: 700 48px "Poppins-Bold", sans-serif;
  position: absolute;
  left: 393px;
  top: 3118px;
}
.rectangle-10 {
  background: #193069;
  width: 100%;
  height: 982px;
  position: absolute;
  left: 0px;
  top: 4552px;
}
.news-flash {
  color: #ffffff;
  text-align: justified;
  font: 600 40px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: calc(50% - 124px);
  top: 4591px;
}
.ellipse-1 {
  background: #2e6678;
  border-radius: 50%;
  width: 97px;
  height: 97px;
  position: absolute;
  left: 133px;
  top: 4591px;
}
.ellipse-12 {
  background: #2e6678;
  border-radius: 50%;
  width: 47px;
  height: 49px;
  position: absolute;
  left: 1176px;
  top: 4772px;
}
.ellipse-13 {
  background: #2e6678;
  border-radius: 50%;
  width: 175px;
  height: 168px;
  position: absolute;
  left: 1375px;
  top: 5000px;
}
.ellipse-14 {
  background: #2e6678;
  border-radius: 50%;
  width: 146px;
  height: 141px;
  position: absolute;
  left: 899px;
  top: 4644px;
}
.ellipse-15 {
  background: #2e6678;
  border-radius: 50%;
  width: 146px;
  height: 141px;
  position: absolute;
  left: 929px;
  top: 5242px;
}
.ellipse-16 {
  background: #2e6678;
  border-radius: 50%;
  width: 168px;
  height: 178px;
  position: absolute;
  left: 344px;
  top: 4732px;
}
.ellipse-17 {
  background: #2e6678;
  border-radius: 50%;
  width: 168px;
  height: 178px;
  position: absolute;
  left: 292px;
  top: 5289px;
}
.ellipse-18 {
  background: #2e6678;
  border-radius: 50%;
  width: 168px;
  height: 178px;
  position: absolute;
  left: -40px;
  top: 4832px;
}
.ellipse-19 {
  background: #2e6678;
  border-radius: 50%;
  width: 73px;
  height: 74px;
  position: absolute;
  left: 980px;
  top: 4953px;
}
.ellipse-110 {
  background: #2e6678;
  border-radius: 50%;
  width: 73px;
  height: 74px;
  position: absolute;
  left: -29px;
  top: 5407px;
}
.ellipse-111 {
  background: #2e6678;
  border-radius: 50%;
  width: 146px;
  height: 141px;
  position: absolute;
  left: 1317px;
  top: 4580px;
}
.ellipse-112 {
  background: #2e6678;
  border-radius: 50%;
  width: 146px;
  height: 141px;
  position: absolute;
  left: 1317px;
  top: 5393px;
}
.rectangle-11 {
  width: 373px;
  height: 446px;
  position: absolute;
  left: 66px;
  top: 4673px;
}
.rectangle-112 {
  width: 373px;
  height: 446px;
  position: absolute;
  left: 534px;
  top: 4673px;
}
.rectangle-113 {
  width: 373px;
  height: 446px;
  position: absolute;
  left: 1002px;
  top: 4673px;
}
.curo-institute-of-technology-launches-new-cybersecurity-program {
  color: #ffffff;
  text-align: left;
  font: 600 26px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 66px;
  top: 5128px;
  width: 367px;
  height: 79px;
}
.groundbreaking-research-in-medicine-curo-institute-of-technology-s-medical-faculty-achieves-new-heights {
  color: #ffffff;
  text-align: left;
  font: 600 26px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 537px;
  top: 5128px;
  width: 367px;
  height: 79px;
}
.civil-engineering-faculty-s-impactful-infrastructure-projects {
  color: #ffffff;
  text-align: left;
  font: 600 26px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 1002px;
  top: 5128px;
  width: 367px;
  height: 79px;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.rectangle-12 {
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 1) 0%,
    rgba(217, 217, 217, 0.37) 100%
  );
  width: 208px;
  height: 63px;
  position: absolute;
  left: 153px;
  top: 4858px;
}
.read-more6 {
  color: #000000;
  text-align: left;
  font: 700 24px "Poppins-Bold", sans-serif;
  position: absolute;
  left: 189px;
  top: 4874px;
}
.rectangle-122 {
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 1) 0%,
    rgba(217, 217, 217, 0.37) 100%
  );
  width: 208px;
  height: 63px;
  position: absolute;
  left: 617px;
  top: 4858px;
}
.read-more7 {
  color: #000000;
  text-align: left;
  font: 700 24px "Poppins-Bold", sans-serif;
  position: absolute;
  left: 653px;
  top: 4874px;
}
.rectangle-123 {
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 1) 0%,
    rgba(217, 217, 217, 0.37) 100%
  );
  width: 208px;
  height: 63px;
  position: absolute;
  left: 1096px;
  top: 4860px;
}
.read-more8 {
  color: #000000;
  text-align: left;
  font: 700 24px "Poppins-Bold", sans-serif;
  position: absolute;
  left: 1132px;
  top: 4876px;
}
.rectangle-13 {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
  width: 205px;
  height: 85px;
  position: absolute;
  left: 638px;
  top: 5382px;
}
.view-all2 {
  color: #000000;
  text-align: left;
  font: 700 24px "Poppins-Bold", sans-serif;
  position: absolute;
  left: 667px;
  top: 5407px;
}
.rectangle-14 {
  background: #004584;
  width: 100%;
  height: 546px;
  position: absolute;
  left: 0px;
  top: 5651px;
}
.image-53 {
  width: 300px;
  height: 109.04px;
  position: absolute;
  left: calc(50% - 676px);
  top: 5700px;
}
.featured-links {
  color: #ffffff;
  text-align: left;
  font: 600 24px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 445px;
  top: 5720px;
}
.careers {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 446px;
  top: 5780px;
}
.alumini {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 447px;
  top: 5819px;
}
.student-life {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 446px;
  top: 5858px;
}
.degree-programs {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 446px;
  top: 5895px;
}
.facilities {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 447px;
  top: 5932px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 448px;
  top: 5969px;
}
.other-links {
  color: #ffffff;
  text-align: left;
  font: 600 24px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 740px;
  top: 5720px;
}
.subscribe-our-newsletter {
  color: #ffffff;
  text-align: left;
  font: 600 24px "Poppins-SemiBold", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1021px;
  top: 5720px;
}
.contact-us2 {
  color: #ffffff;
  text-align: left;
  font: 600 24px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 1021px;
  top: 5879px;
}
.university-directory {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 741px;
  top: 5780px;
}
.procurement {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 742px;
  top: 5819px;
}
.vacancies {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 741px;
  top: 5858px;
}
.site-map {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 741px;
  top: 5895px;
}
.policies {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 742px;
  top: 5932px;
}
.fa-qs {
  color: #ffffff;
  text-align: left;
  font: 500 18px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 743px;
  top: 5969px;
}
.enter-your-email {
  color: #ffffff;
  text-align: left;
  font: 500 20px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 1037px;
  top: 5786px;
  width: 186px;
}
.rectangle-15 {
  border-radius: 3px;
  border-style: solid;
  border-color: #257cff;
  border-width: 2px;
  width: 342px;
  height: 57px;
  position: absolute;
  left: 1021px;
  top: 5772px;
}
.group-39 {
  position: absolute;
  inset: 0;
}
.rectangle-16 {
  background: #257cff;
  border-radius: 3px;
  width: 80.76px;
  height: 57px;
  position: absolute;
  left: 1282.24px;
  top: 5772px;
}
.submit {
  color: #000000;
  text-align: left;
  font: 500 20px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 1286px;
  top: 5785px;
  width: 74px;
}
.line-2 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px 0 0 0;
  width: 1319.27px;
  height: 0px;
  position: absolute;
  left: 43.99px;
  top: 6105.5px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.copyright-2023-curo-intitute-of-technology {
  color: #ffffff;
  text-align: justified;
  font: 400 20px "Poppins-Regular", sans-serif;
  position: absolute;
  left: calc(50% - 226px);
  top: 6130px;
  width: 452px;
  height: 30px;
}
.frame-16 {
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  width: 263px;
  height: 25px;
  position: absolute;
  left: 71px;
  top: 5885px;
}
.facebook {
  flex-shrink: 0;
  width: 40px;
  height: 90px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.devicon-linkedin {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.twitter {
  flex-shrink: 0;
  width: 40px;
  height: 90px;
  position: relative;
}
.instagram-logo {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.openmoji-youtube {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.vector5 {
  height: auto;
  position: absolute;
  right: 9.6%;
  left: 9.6%;
  width: 80.81%;
  bottom: 21.53%;
  top: 21.53%;
  height: 56.93%;
  overflow: visible;
}
.vector6 {
  height: auto;
  position: absolute;
  right: 37.14%;
  left: 41.74%;
  width: 21.12%;
  bottom: 37.99%;
  top: 37.99%;
  height: 24.03%;
  overflow: visible;
}
.group {
  height: auto;
  position: absolute;
  right: 9.6%;
  left: 9.6%;
  width: 80.81%;
  bottom: 21.53%;
  top: 21.53%;
  height: 56.93%;
  overflow: visible;
}
