@charset "utf-8";
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}


body {
	display: table;
	background: url("../../images/pxfuel.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
	height: 100%;
	align-items: center;
}

.div1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 96%;
	margin: 0;
}

.div1-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: inline-block;
	width: 30%;
	background: #83a8b129;
	border: 2px solid rgba(0, 0, 0, 0.028);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 10 rgba(0, 0, 0, .2);
	color: #000000;
	border-radius: 20px;
	padding: 20px 20px;
	margin-top: auto;
	margin-bottom: auto;
}

.div1-1-1 {
	align-content: center;
	display: flex;
}
#form1 p #submit {
    width: 100%;
}

.back_btn a {
	color: rgba(0, 0, 0, 0.537);
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}

.back_btn a:hover{
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 18px;
}

img {
    width: 100%;
	height: auto;
    margin: 0 auto;
	padding: 20px;
}

.div1-1-2{
    margin: 20px auto 0;
	width: 60%;
	
}

#form1{
	align-content: center;
}

.div1-1-2 #memberidtxt , .div1-1-2 #passwordtxt{
	margin-top: 10px;
	width: 100%;
	height: 100%;
	background: transparent;
	outline: none;
	border: 2px solid rgba(0, 0, 0, .4);
	border-radius: 40px;
	font-size: 16px;
	color: #000000;
	padding: 5px 10px;
}

.div1-1-2 input::placeholder {
	color: #2E2E2E;
	padding-left: 0px;
}

.div1-1-2 #loginbtn {
	width: 100%;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
	margin: 15px 0 0 0;
	padding: 10px;
}

#loginbtn:hover {
	background-color: #7ea7bb;
	color: white;
}

.div1-1-3 {
	font-size: 14.5px;
	margin-top: 10px;
	text-align: center;
	padding: 20px 0 15px;
}

.div1-1-3 p a {
	color: #040404;
	text-decoration: none;
	font-weight: 600;
}

.div1-1-3 p a:hover {
	text-decoration: none;
	color: #4e7a97;
}

.footer{
	position: relative;
	height: 24px;
	margin-bottom: -60px;
	width: 100%;
	clear: both;
	text-align: center;
	font-size: 0.75rem;
}
